<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="lib/angular.min.js"></script>
    <link rel="stylesheet" href="directive/tooltip/tooltip.css">
    <link rel="stylesheet" href="directive/selector/selector.css">
</head>
<body>
<div ng-app="test" style="margin: 15px" ng-controller="testSelector">
    <div>
        <ul>
            <li><a href="javascript:;" title="这是一个指令">测试1</a></li>
            <li><a href="javascript:;" dy-tooltip data-tip="只需要在标签中引入">测试2</a></li>
            <li><a href="javascript:;" dy-tooltip data-tip="一">测试3</a></li>
            <li><a href="javascript:;" dy-tooltip data-tip="个">测试4</a></li>
            <li><a href="javascript:;" dy-tooltip data-tip="指">测试5</a></li>
            <li><a href="javascript:;" dy-tooltip data-tip="令">测试6</a></li>
        </ul>
    </div>
    <dy-selector ng-model="a" dy-list="list"></dy-selector>
    {{a}}
</div>
<script src="directive/tooltip/tooltip.js"></script>
<script src="directive/selector/selector.js"></script>
<script>
//    function getArray() {
//        var a = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9'];
//        var result = []
//        for (var i = 0; i < 10; i++) {
//            result.push(
//                a[parseInt(Math.random() * 10)]
//                + a[parseInt(Math.random() * 10)]
//                + a[parseInt(Math.random() * 10)]
//                + a[parseInt(Math.random() * 10)]
//                + a[parseInt(Math.random() * 10)]
//            )
//        }
//        return result
//    }

    angular.module('test', ['directive.tooltip', 'directive.selector'])
        .controller('testSelector', function ($scope) {
            $scope.a = '07102'
            $scope.list = ["21868", "75978", "07102", "57701", "31944", "37939", "07859", "73779", "42216", "25466"];
        })
</script>
</body>
</html>