.dy-selector {
    width: 100px;
    position: relative;
    z-index: 10;
    background-color: #fff;
}

.dy-selector * {
    box-sizing: border-box;
    user-select: none;
}

.dy-selector input {
    width: 100%;
    margin: 0;
    padding: 0;
    outline: none;
}

.dy-selector .dy-selector-value {
    border: 1px solid #89e7ff;
    height: 24px;
    padding: 0 3px;
}

.dy-selector-able {
    cursor: pointer;
}

.dy-selector .dy-selector-list {
    background-color: #fff;
    border: 1px solid #89e7ff;
    border-top: 0;
    padding: 3px;
    position: absolute;
    left: 0;
    top: 100%;
}

.dy-selector ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    max-height: 150px;
    overflow-y: auto;
}

.dy-selector ul li {
    text-align: center;
    cursor: pointer;
}

.dy-selector ul li:hover {
    background-color: #89e7ff;
}